<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="timer.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h2 class="headerName">
            TypingSpeed.io
        </h2>
    </header>
    <div class="posterContainer">
        <img src="./mainImg.jpg" class="keyboard">
        <h1 class="typeFaster">Type Faster!</h1>
    </div>
    <div class="mainContainer">
        <div class="rectangle"></div>
        <div class="smallRectangle"></div>
    </div>
    <div class="timer">
        <div class="circle"></div>
        <div id="countDown" class="countDown"></div>
        <h1 class="timerLabel">timer</h1>
    </div>
</body>
</html>